.instructions {
  display: flex;
  justify-content: space-between;

  &__subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__example {
    background-color: rgba(196, 196, 196, 0.283);
    padding: 16px;
    width: 20vw;
    min-height: 18vh;
  }
}
