.instructions {
  display: flex;
  justify-content: space-between;

  &__subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__example {
    background-color: rgba(196, 196, 196, 0.283);
    padding: 16px;
    width: 20vw;
    min-height: 18vh;
  }

  &__button {
    outline: none;
    box-shadow: none;
    padding: 8px 32px;
    border-radius: 8px;
    background: #028b2f;
    outline: none;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-top: 16px;
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
  }
}
