.container {
  display: flex;

  &__martian {
    height: 20vh;
    width: auto;
    align-self: center;
    margin-left: 32px;

    &--moving {
      transform: translateX(50px);
      transition: 1s;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &-textarea {
      resize: none;
      width: 20vw;
      height: 18vh;
      padding: 16px;
      font-size: 16px;
    }

    &-button {
      outline: none;
      box-shadow: none;
      padding: 8px 32px;
      border-radius: 8px;
      background: rgb(104, 104, 222);
      outline: none;
      color: white;
      cursor: pointer;
      border: none;
      font-weight: bold;
      margin-top: 16px;
      width: intrinsic; /* Safari/WebKit uses a non-standard name */
      width: -moz-max-content; /* Firefox/Gecko */
      width: -webkit-max-content; /* Chrome */
    }
  }
}
